*{
    padding: 0;
    margin: 0;
}
body{
    background-color: gray;
}

table{
    margin: 0 auto;
    border-collapse:collapse; 
    border: black 5px solid;
}

div{
    width: 110px;
    height: 110px;
}

.blanco{
    background-color:white;
}
.negro{
    background-color:black;
}


.pieza{
    float: right;
}
img{
    width: 110px;
    height: 110px;
}